<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit order</title>
</head>
<style>
    p {
        margin-top: 0.5em; /* Отступ сверху */
        margin-bottom: 1em; /* Отступ снизу */
    }
</style>
<body bgcolor="#FFEFD5">
<h1>Enter your data to update student</h1>
<form action="#" th:action="@{/student-edit}" method="post">
    <label> Group : </label>
    <select th:name="group_id">
        <option th:each="gr:${groups}" th:value="${gr.group_id}" th:text="${gr.group_id}"></option>
    </select>
    <p>
    <div><label> Student`s number: </label><input type="text" th:value="${student.stud_id}" readonly></div>
    <p>
    <div><label> Name : <input type="text" th:name="stud_name" th:value="${student.stud_name}" required/> </label></div>
    <p>
    <div><label> Enroll date : <input type="date" th:name="enroll_date" th:value="${student.enroll_date}" required/> </label></div>
    <p>
        <input type="hidden" th:name="id" th:value="${ID}">
    <div><input type="submit" value="Edit"></div>
</form>
<p>
    <a align="center" href="/students">Back</a>
<p><a href="/start">Quit</a></p>
</body>
</html>